@media (max-width: 1325px) {
  .trade {
    &__item-inner {
      padding: 50px 105px;


    }

    &__item-title {
      font-size: 28px;
      margin-bottom: 18px;
    }
  }
}

@media (max-width: 1200px) {

  .slider-feed {
    &__inner {
      display: flex;
      text-align: center;

    }

    &__item-text {
      text-align: left;
    }
  }

  .search {
    margin-top: 20px;

    &__form {
      justify-content: center;
    }

    &__inner {

      padding: 40px 20px;

      &::before,
      &::after {
        display: none;
      }
    }

    &__input {
      width: 600px;
    }
  }

  .choose {

    &__item {
      max-width: 320px;
    }
  }
}


@media (max-width: 1170px) {
  .header {
    &__pages-item {
      padding-top: 5px;
    }
  }

  .trade {
    &__item-inner {
      padding: 50px 80px;

    }
  }

  .news {
    &__inner {
      flex-wrap: wrap;
    }

    &__item-content {
      padding: 30px 25px;
    }

    &__item {
      max-width: 100%;
      width: 100%;
      margin-bottom: 20px;
      box-shadow: none;

      &+& {
        margin-left: 0;
      }
    }

    &__item-img {
      float: left;
      width: 361px;
      height: 100%;
      margin-right: 20px;
      border-bottom-left-radius: 4px;
      border-top-right-radius: 0px;
    }
  }
}

@media (max-width: 1070px) {
  .header {
    &__pages-item {
      padding-top: 3px;
      padding-right: 15px;
    }
  }


  .newest {
    &__inner {
      margin-left: 0;
    }

    &__item {
      flex-basis: calc(50% - 28px);
      margin: 0 auto 30px;
    }

    &__item-img {
      &:hover {
        display: flex;
        align-items: center;
      }
    }

    &__buttons {
      display: flex;
      padding: 0;
      flex-wrap: wrap;
      box-shadow: none;
      border: 3px solid #fff;
    }

    &__button-item {
      width: 50%;
      padding: 0;
      border-radius: 0;
      text-align: center;

      &+& {
        margin-left: 0;
      }

    }

  }

  .btn-info,
  .btn-demo {
    margin: 0 auto;
    position: static;
  }

  .choose {

    &__item {
      max-width: 281px;
      box-shadow: none;
      border: 1px solid #ececec;
      padding-left: 17px;
      padding-right: 17px;
    }
  }

}

@media (max-width: 970px) {
  .header {
    &__search {
      max-width: 240px;
    }

    &__pages {
      display: none;
    }

    &__form-input {
      padding: 14px 72px 14px 12px;
    }

    &__form-button {
      &:hover {
        padding: 14px 20px;
      }
    }
  }

  .search {
    &__inner {
      transform: none;
      border-bottom: 1px solid #ececec;
    }

    &__button {
      padding: 18px 30px 17px;
    }

    &__input {
      width: 500px;
    }
  }

  .digital,
  .advantages,
  .newest,
  .achievements,
  .choose,
  .feedback,
  .news,
  .join-us {
    padding: 40px 0;
  }

  .aid {

    &__support,
    &__guarantee {
      padding: 40px 10px;
    }
  }

  .digital {

    &__title,
    &__title-bold {
      font-size: 30px;
      line-height: 40px;
    }

    &__text {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .advantages {

    &__item {
      padding: 25px 10px;
    }
  }

  .choose {

    &__inner {
      justify-content: center;
    }

    &__item {
      max-width: 361px;
      width: 100%;
      margin: 5px;
    }
  }

  .trade {
    display: block;
  }

  .feedback {

    &__text {
      padding: 0 20px;
    }

    &__inner {
      display: block;
    }

    &__item {
      width: 100%;

      &+& {
        margin-left: 0;
      }
    }

  }

  .news {

    &__text {
      padding: 0 20px;
    }
  }

  //адаптив&
  .footer {
    &__inner {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__newsletter {
      margin-top: 10px;
      border-top: 1px solid #ababab;
      min-width: 100%;
      text-align: center;
    }

    &__newsletter-title {
      margin-bottom: 10px;
    }

    &__content {
      padding: 30px 0;
    }

    &__newsletter-text {
      margin-bottom: 10px;
    }

    &__newsletter-search {
      margin-bottom: 40px;
      width: 70%;
      margin: 0 auto;
    }

    &__newsletter-iconblock {
      margin-top: 20px;
    }
  }
}

@media (max-width: 850px) {
  .slider-weekly {
    padding: 40px 0;

    &__item-img {
      display: none;
    }



    &__item {
      justify-content: center;
    }

    &__title {
      margin: 0 auto;
    }
  }

  .arrows {
    display: none;
  }

  .slider-feed {
    padding: 40px 0;
  }
}

@media (max-width: 810px) {
  .header {
    &__submenu-list {
      width: 100%;
      position: static;
      display: none;
    }

    &__search {
      max-width: 360px;
    }

    &__dropdown {
      z-index: 2;
    }

    &__menu-list {
      display: none;
      top: 81px;
      position: absolute;
      text-align: center;
      background-color: #fff;
      left: -15px;
      right: -15px;
      border-top: 1px solid #0674ec;
      border-bottom: 1px solid #0674ec;
      box-shadow: none;
      z-index: 1;
    }

    &__menu-item {
      display: block;
      border-bottom: 1px solid $border-gr;
      padding: 5px 0;
      margin: 0;
      transition: all .5s;


      &+& {
        margin-left: 0;
      }


    }

    &__menu-link {
      display: block;
    }

    &__inner-btn {
      display: none;
    }

    &__menu-burger {
      display: block;
      width: 35px;
      cursor: pointer;
      margin-right: 15px;
      padding: 3px;
    }

    &__burger-item {
      background-color: $blue;
      height: 3px;

      &+& {
        margin-top: 5px;
      }
    }
  }

  .search {
    &__form {
      flex-wrap: wrap;

    }

    &__input {
      width: 600px;
      margin-bottom: 15px;
    }

    &__inner {
      padding: 20px;
    }
  }

  .newest {

    &__item {
      flex-basis: calc(100%);

    }
  }

  .advantages {
    &__inner {
      display: block;

    }

    &__item {
      padding: 10px 5px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  .news {
    &__item-img {
      display: none;
    }
  }
}

@media (max-width: 670px) {
  .header {
    & .basket-dropdown {
      width: 270px;
      left: auto;
      overflow: auto;
    }

    &__basket-img {
      display: none;
    }

    &__btn-link {
      padding: 15px 5px;
    }

    &__basket-total {
      padding: 10px 15px;
    }
  }

  .search {

    &__input {
      width: 500px;
      margin-bottom: 10px;
    }
  }

  .notifications,
  .message {
    display: none;
  }

  .achievements {
    padding: 40px 0;

    &__inner {
      flex-wrap: wrap;
    }

    &__item-numb {

      padding-top: 15px;
    }

    &__item {
      width: 50%;
      margin-bottom: 10px;
    }
  }

  //адаптив footer
  .footer {

    &__company-title,
    &__help-title {
      margin-bottom: 10px;
    }

    &__newsletter-button {
      padding-left: 15px;
      padding-right: 15px;
    }

    &__contact {
      min-width: 100%;
      border-bottom: 1px solid #ababab;
    }

    &__inner {
      justify-content: space-around;
    }

    &__created {
      padding: 10px 0;
    }
  }
}

@media (max-width: 575px) {
  .header {


    &__inner {
      height: 70px;
    }

    &__inner-logo {
      margin-left: 55px;
    }

    &__menu-burger {
      position: absolute;
      top: -50px;
    }

    &__menu-list {
      top: 80px;
    }

    &__search {
      margin: 0 auto;
    }

    &__form-button {
      padding: 14px 20px;

      &:hover {
        padding: 14px 20px;
      }


    }

    &__form-input {
      padding-right: 60px;
    }

    &__user-menu {
      top: 60px;
    }

    &__menu-layout {
      display: block;
      width: 70px;
      height: 70px;
      position: absolute;
      top: 0;
      right: 0;
      background-color: $bg;
      text-align: center;
      z-index: 4;

      &::before {
        content: "\e82a";
        font-family: 'Linearicons-Free';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        color: $blue;
        cursor: pointer;
      }
    }

    &__box {
      background-color: $bg;
      left: 100%;
      right: -100%;
      transition: all .5s;
      position: absolute;
      height: 70px;
      z-index: 2;
      display: none;

      &.active {
        left: 50px;
        right: 75px;
        transition: all .5s;
        display: flex;

      }
    }

    &__box-elements {
      margin-right: 0;
    }

    .basket-dropdown {
      right: 0;
      left: 1px;
      top: 47px;

      &::before {
        left: 5px;
        right: 0;
      }
    }

    &__user-menu {
      box-shadow: none;
    }
  }

  .search {

    &__input {
      width:400px;
      margin-bottom: 10px;
      padding: 11px 170px 10px 20px;
    }
    &__select{
      padding: 0 40px 0 20px;
    }
  }

  .digital {
    padding: 50px 0;

    &__btn {
      display: block;
      width: 50%;
      margin: 0 auto;
      margin-bottom: 10px;
      padding: 0;
      line-height: 53px;
      font-size: 14px;
    }

    &__title,
    &__title-bold {
      font-size: 24px;
      line-height: 26px;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .slider-weekly {
    &__top {
      padding: 20px 10px;
      margin-bottom: 20px;
    }

    &__title {
      font-size: 24px;

    }

    &__item-title {
      font-size: 16px;
    }

    &__item-text {
      font-size: 14px;
    }

    &__item-value {
      display: block;
      padding-top: 10px;
    }

    &__item-info {
      justify-content: center;
      margin-bottom: 7px;
    }

    .jq-ry-container {
      margin: 0 auto;
    }
  }

  .newest {
    &__title {
      font-size: 24px;
    }
  }

  .slider-feed {
    &__title {
      font-size: 24px;
      margin: 0 auto;
    }

    &__top {
      padding: 20px 10px;
      margin-bottom: 20px;
    }
  }

  .join-us {
    &__title {
      font-size: 24px;
    }
  }
}

@media (max-width: 515px) {
  .search {

    &__input {
      width:350px;
      margin-bottom: 10px;
      padding: 11px 155px 10px 10px;
    }
    &__select{
      padding: 0 40px 0 10px;
    }
  }
  .newest {
    &__title {
      font-size: 18px;
    }
  }

  .trade {
    &__item-inner {
      padding: 40px 30px;
    }
  }

  .choose {


    &__text {
      margin-bottom: 20px;
    }
  }

  .color-title {

    font-size: 24px;

  }

  .feedback {
    &__item-avatar {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    &__item-box {
      &::before {
        content: '';
      }
    }

    &__item {
      margin-bottom: 25px;
      padding: 20px;
    }

    &__item-name {
      font-size: 18px;
    }

    &__item-profession {
      font-size: 14px;
    }

    &__item-massange {
      font-size: 14px;
    }

  }

  .aid {
    &__inner {
      flex-wrap: wrap;
    }

    &__support,
    &__guarantee {
      width: 100%;
    }
  }
}

@media (max-width: 435px) {
  .search {
    display: none;
  }
  .header {
    &__user-data {
      display: none;
    }

    .basket-dropdown {
      left: -64px;

      &::before {
        left: 76px;

      }
    }

    &__user-menu {
      right: -60px;

      &::before {
        right: 66px;
      }
    }
  }

  .slider-weekly {
    &__item-content {
      padding: 15px 30px;
    }

    &__title {
      line-height: 24px;
      font-size: 22px;
    }

    &__item-buttons {
      padding-bottom: 10px;
    }

    &__item-button {
      display: block;
      margin-bottom: 5px;
    }

    &__item-text {
      margin-bottom: 5px;
    }

    &__item-box {
      margin-bottom: 7px;
    }
  }

  .title-block {
    min-height: 0;
  }

  .newest {
    &__top {
      padding: 20px 10px;
    }

    &__filter {
      padding-right: 25px;
      padding-left: 5px;
      line-height: 24px;

    }

    &__filter-point {
      left: 75px;
    }
  }

  .feedback {
    &__item {
      box-shadow: none;
      border: 1px solid #ececec;
      border-left: 2px solid #0674ec;
    }
  }

  .news {

    &__item-content,
    &__item-statistic {
      padding: 10px 20px;
    }

    &__item-statistic {
      justify-content: center;
    }

    &__item-title {
      font-size: 18px;
    }

    &__item-date {
      padding-right: 15px;
    }

    &__item-link {
      padding-left: 15px;
    }
  }

  //адаптив footer
  .footer {
    &__newsletter-search {
      width: 100%;
    }

    &__inner {
      justify-content: space-between;
    }

    &__newsletter-iconblock {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__newsletter-icon {
      margin-right: 4px;
    }
  }
}

@media (max-width: 380px) {
  .header {

    &__logo-img {
      display: none;
    }

    &__inner-logo {
      margin-left: 40px;
      background-image: url(../img/minilogo.png);
      @include bg;
      width: 145px;
      height: 50px;
      margin-bottom: 9px;
    }
  }

  .newest {
    &__filter-point {
      top: 50%;
      transform: translate(-50%);
    }

    &__item-content {
      padding: 13px;
    }

    &__item-title {
      font-size: 18px;
    }

    &__item-star {
      display: none;
    }

  }

  .slider-weekly {
    &__item-title {
      font-size: 15px;
    }

    &__item-like,
    &__item-buttons {
      display: none;
    }

    &__item-avatar {
      display: none;
    }

    &__title {

      font-size: 18px;
    }
  }


  .slider-feed {
    &__title {
      font-size: 18px;
    }

    &__item-title {
      font-size: 18px;
    }

    &__item-content {
      padding: 13px;
    }

    &__item-star {
      display: none;
    }
  }

  .achievements {
    &__item {
      width: 100%;
    }
  }

  .trade {
    &__item-title {
      font-size: 20px;
    }

    &__item-text {
      margin-bottom: 20px;
    }
  }

}