// Цвета
$blue:       #0674ec;
$red:        #ff6a6c; 
$green:      #62d03b;
$bg:         #eff1f5;
$black:      #333333;
$grey:       #7e8fa1;
$text:       #555555;
$dblue:      #0d33bd;
$cat:        #7347c1;
$button:     #f1f3f6;
$lm:         #54667a;
$border-gr:  #e8ebf0;
$date:       #747b86;
$trash:      #818c98;
@mixin bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin corner{
  content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 9px solid transparent;
      border-bottom-color:$blue;      
      z-index: 1;
}


@mixin grad {
  background-color: $blue;
  background-image: linear-gradient(270deg, rgba(6, 116, 236, 0) 1%, rgba(61, 94, 215, 0.54) 46%, rgba(115, 71, 193, 1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0674ec", endColorstr="#7347c1", GradientType=1);
  
}